<h1>Sugestoes</h1>

<p *ngIf="!sugestoes"><em>Loading...</em></p>

<table class='table' *ngIf="sugestoes">
  <thead>
    <tr>
      <th>id</th>
      <th>titulo</th>
      <th>descricao</th>
      <th>contlike</th>
      <th>contunlinke</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sugestao of sugestoes">
      <td>{{ sugestao.id }}</td>
      <td>{{ sugestao.titulo }}</td>
      <td>{{ sugestao.descricao }}</td>
      <td>{{ sugestao.contLike }}</td>
      <td>{{ sugestao.contUnLike }}</td>
    </tr>
  </tbody>
</table>
