<br>
<br>

<h2>Sugestões</h2>

<p *ngIf="!sugestoes">
  <em>Loading...</em>
</p>

<br>
<br>

<div class="row">
  <div class="col-md-8">
    <table class='table table-striped' *ngIf="sugestoes">
      <thead>
        <tr>
          <th>Descricao</th>
          <!-- <th>descricao</th> -->
          <th>Like</th>
          <th>Unlike</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sugestao of sugestoes">
          <td>
            <p class="titulosugestao">{{ sugestao.titulo }}</p>
            <p class="descricaoSugestao">{{ sugestao.descricao }}</p>
          </td>
          <td>{{ sugestao.contLike }}</td>
          <td>{{ sugestao.contUnLike }}</td>
          <td class="container">
            <button (click)="like(sugestao.id)">
              <img class="btnLikeFormat" src="../../assets/like.png" />
            </button>
            <button (click)="unLike(sugestao.id)">
              <img class="btnLikeFormat" src="../../assets/unlike.png" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>